<!DOCTYPE html>
<html>
<head>
  <title>MessengerPlatform</title>
  <%= stylesheet_link_tag    "messenger_platform/application", media: "all" %>
  <%= javascript_include_tag "messenger_platform/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
