<!DOCTYPE html>
<html>
<head>
  <title>MessageQuickly</title>
  <%= stylesheet_link_tag    "message_quickly/application", media: "all" %>
  <%= javascript_include_tag "message_quickly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
